<%- include('partials/header', {title:"P, R, S: Tournament of Champions"}) -%>

<h1> Emptied Plates </h1>
  <br>
  <br>
  <a href="/recipes">Click to see some cool recipes that'll make you empty your Plates</a>

  <%- include('partials/footer') -%>