<%- include('partials/header', {title:"P, R, S: Tournament of Champions"}) -%>

<h1> Emptied Plates </h1>
  <br>
  <br>
  <h2>Log In</h2>
  <form action = "/login" method="get">
    <label for="username">Username</label>
    <input type = "text" name = "username" id = "username">
    <br>
    
    <label for="password">Password</label>
    <input type = "password" name = "password" id = "password">
    <br>
    <input type="submit" value="Log in">
  </form>

  <a href="/recipes">Click to see some cool recipes that'll make you empty your Plates</a>

  <%- include('partials/footer') -%>