<%- include('partials/header', {title:"Recipes"}) -%>

<h1> Emptied Plates </h1>

<div class="row">
    <%for(let i = 0; i<4; i++){%>
        <div class="col">
            <div class="card h-100">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
    <%}%>
</div>


<h1>TESTING</h1>

  <%- include('partials/footer') -%>