<%- include('partials/header', {title:"Recipes"}) -%>

<h1> Emptied Plates </h1>

    <% for(let recipe in recipesJSON){ %>
        <div class="card mb-3 w-75">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><%recipesJSON[recipe]%></h5>
                  <p class="card-text"><%=recipesJSON[recipe]%></p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
    <%}%>


<h1>TESTING</h1>

  <%- include('partials/footer') -%>